:root {
    --top-menu-bg: #940606;
}

body {
    background: #069494;
    color: #232323;
    line-height: 6vh;
    font-size: 20px;
    font-family: cursive;
    margin: 0;
    user-select: none;
}

button {
    font-size: 20px;
    padding: 2vh 1vw;
    border: 2px solid black;
    border-radius: 50px;
    cursor: pointer;
}

button:hover {
    border-color: #09507c;
    background-color: #deedf2;
}

input {
    font-size: 20px;
    padding: 2vh 1vw;
    border: 1px solid black;
    border-radius: 50px;
    margin-right: 10px;
    margin-top: 5vh;
}

li {
    cursor: pointer;
    word-break: break-word;
}

.strikethrough {
    text-decoration: line-through;
}

.ul-container {
    text-align: center;
    width: 50vw;
    display: table;
    margin-left: auto;
    margin-right: auto;
    /* margin: 0 auto; */
}

#groceryList {
    display: inline-block;
    text-align: left;
    width: 20vw;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}